body{
    background-color: lightblue
    ;
    
    }
    #ok{
    color: darkblue;
    
    }
    #red{
    color: red;
    }
    #green{
    color:green;
    }
    #pink{
        color:darkviolet;
        }
        #k{
        width: 300;
        height: 300;
        }
        #last{
            color:rgb(211, 0, 53);}